In [21]:
# Dependencies
import numpy as np

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func

In [22]:
# To calculate some data points that have to do with dates
import datetime as dt

In [55]:
import pandas as pd

In [23]:
engine = create_engine("sqlite:///hawaii.sqlite", echo=False)

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [24]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [49]:
columns = inspector.get_columns("measurement")
for column_name in columns:
    print(column_name["name"], column_name["type"])

id INTEGER
station TEXT
date TEXT
prcp FLOAT
tobs FLOAT

In [102]:
engine.execute('SELECT * FROM measurement LIMIT 5').fetchall()

[(1, 'USC00519397', '2010-01-01', 0.08, 65.0),
 (2, 'USC00519397', '2010-01-02', 0.0, 63.0),
 (3, 'USC00519397', '2010-01-03', 0.0, 74.0),
 (4, 'USC00519397', '2010-01-04', 0.0, 76.0),
 (5, 'USC00519397', '2010-01-06', None, 73.0)]

###### D1: Determine the Summary Statistics for June

In [137]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
measurement_June = []
measurement_June = session.query(Measurement.date, Measurement.tobs).filter(func.extract('month', Measurement.date) == "06")

In [138]:
#  3. Convert the June temperatures to a list.
temps_June = list(measurement_June)

In [139]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
temps_June_df=pd.DataFrame(temps_June, columns = ['date', 'June Temps'])
temps_June_df.tail()

            date  June Temps
1695  2017-06-26        79.0
1696  2017-06-27        74.0
1697  2017-06-28        74.0
1698  2017-06-29        76.0
1699  2017-06-30        75.0

In [140]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
temps_June_df.describe()

        June Temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [141]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
measurement_December = []
measurement_December = session.query(Measurement.date, Measurement.tobs).filter(func.extract('month', Measurement.date) == "12")

In [142]:
# 7. Convert the December temperatures to a list.
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
temps_December = list(measurement_December)

In [143]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
temps_December_df=pd.DataFrame(temps_December, columns = ['date', 'December Temps'])
temps_December_df.tail()

            date  December Temps
1512  2016-12-27            71.0
1513  2016-12-28            71.0
1514  2016-12-29            69.0
1515  2016-12-30            65.0
1516  2016-12-31            65.0

In [144]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
temps_December_df.describe()

       December Temps
count     1517.000000
mean        71.041529
std          3.745920
min         56.000000
25%         69.000000
50%         71.000000
75%         74.000000
max         83.000000